<div class="row github-wrapper">
    <div class="cardProfile">
        <div class="cover-photo">
            <img [attr.src]="githubData.avatar_url" class="profile-social" alt="{{githubData.name}}">
        </div>
        <div class="row ml-2">
            <p class="github-stats-bio">
                {{githubData.bio}}
            </p>
            <div class="github-follow">
                <p class="github-stats-followers">
                    Followers: {{githubData.followers}} &nbsp;
                </p>
                <p class="github-stats-following">
                    Following: {{githubData.following}}
                </p>
            </div>
            <div class="github-follow">
                <p class="github-stats-publicrepo">
                    Repositories: {{githubData.public_repos}} &nbsp;
                </p>
                <p class="github-stats-public-gist">
                    Gists: {{githubData.public_gists}}
                </p>
            </div>
           
           
        </div>
    </div>
</div>