
.card {
    padding: 15px;
    width: 350px;
  //  background: #222;
    border-radius: 5px;
   
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    user-select: none;
}

.cover-photo {
    position: relative;
    background: url(https://i.imgur.com/jxyuizJ.jpeg);
    background-size: cover;
    height: 180px;
    border-radius: 5px 5px 0 0;
}
 
.profile {
    position: absolute;
    width: 120px;
    bottom: -60px;
    left: 15px;
    border-radius: 50%;
    border: 2px solid #222;
   background: #222;
    padding: 5px;
}

.profile-name {
    font-size: 20px;
    margin: 25px 0 0 120px;
  //  color: #fff;
}

.about {
    margin-top: 30px;
    line-height: 1.6;
}

// .btn {
//     margin: 30px 15px;
//     border-color: #7ce3ff;
//     padding: 10px 25px;
//     border-radius: 3px;
//     border: 1px solid #7ce3ff;
//     font-weight: bold;
//     cursor: pointer;   
//     transition: 0.2s;
//     background: transparent;
//     color: #7ce3ff;
// }


// .btn:hover {
//     background: #7ce3ff;
//     color: #222;
// }

.icons {
    width: 180px;
    margin: 0 auto 10px;    
    gap: 15px;
    display: flex;
    justify-content: flex-start;
}

.icons i {
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    transition: 0.2s;
}

.icons i:hover {
    color: #7ce3ff;
}



.text-align-right {
    text-align: right;
}