<div class="container-fluid px-1 py-5 mx-auto container">
    <div class="row d-flex justify-content-left">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-9  text-center">
                <div class=" text-center">
                    <h3>Create your Portfolio</h3>
                    <p class="blue-text">Just add your details</p>
                    <div class="card">
                        <h5 class="text-center mb-4">Powering world-class Creators</h5>
                        <form class="form-card">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <input type="text" id="fname" name="fname" placeholder="Full Name *" required>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                     <input type="text" id="subtitle" name="subtitle" placeholder="Title (other than Position)" > </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">  
                                     <input type="text" id="positiontitle" name="positiontitle" placeholder="Position Title *">
                                 </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                      <input type="number" id="mob" name="mob" placeholder="Phone Number *">
                                 </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                     <input type="text" id="country" name="country"  placeholder="Country"> 
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <input type="text" id="technology" name="technology"  placeholder="Expertise Technologies *"> 
                               </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                     <input type="text" id="description" name="description"  placeholder="A short intro about you"> 
                                </div>
                            </div>

                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <input type="text" id="githubUrl" name="githubUrl" placeholder="Github URL" required>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <input type="text" id="gitlabURL" name="gitlabURL" placeholder="Gitlab URL" required>
                                    </div>
                            </div>

                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <input type="text" id="linkedinURL" name="linkedinURL" placeholder="LinkedIn URL" required>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <input type="text" id="stackoverflowURL" name="stackoverflowURL" placeholder="Stackoverflow URL" required>
                                    </div>
                            </div>
                            
                            
                            <div class="row justify-content-center my-">
                                <div class="form-group col-sm-6"> <button type="submit" class="btn  btn-primary">Create Profile</button> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 col-lg-4 col-md-3  text-center">
                <h3>Preview before Create</h3>
                <p class="blue-text">Contents will be updated as you type</p>
                <div class="card">
                    <div class="row">
                        <div class="row">
                            <div class="col-md col-sm col-lg justify-content-left">
                                <div class="creator-name"> Senbagaraman Manoharan </div>
                                <div class="creator-title"> UI Developer </div>
                                <h6 class="creator-subtitle"> Senior Software Engineer </h6>
                                <h6 class="creator-india"> India </h6>
                            </div>

                            <div class="col-md-3 justify-content-right">
                              <img src="https://i.imgur.com/KykRUCV.jpeg"
                               class="rounded-circle portoflio-dummy-image" 
                               alt="Dummy Image">
                            </div>
                            
                           

                        </div>
                        <div class="row">
                            <h4 class="col-md-6"> Intro About Me..</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12 justify-content-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac dolor libero. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>