<div class="container-fluid  container">
    <div class="row d-flex justify-content-left">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6  text-center">
                <div class=" text-center">
                    <div class="heading card">
                        <h3>Create your Portfolio</h3>
                        <p class="blue-text">Just add your details</p>
                        <p class="text-muted"> URL's should be in the format http://www.url.com </p>
                      
                    </div>

                    <div class="toast-message p-3 m-0 border-0 bd-example" *ngIf="showtoast">
                        <div class="toast align-items-center fade show" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                              <div class="toast-body">
                                 There are errors in the form, rectify and resubmit
                              </div>
                              <button type="button"
                               class="btn-close me-2 m-auto"
                               (click)="toastClose()"
                                data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                          </div>
                    </div>
                  
                    <div class="card">
                        <h5 class="text-center mb-4">Powering world-class Creators</h5>

                        <form class="form-card"  [formGroup]="creatorForm">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <input type="text" id="name" name="name" placeholder="Full Name *"  formControlName="name"   required>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                     <input type="text" id="subtitle" name="subtitle" formControlName="subtitle"  placeholder="Title (other than Position)" required> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">  
                                     <input type="text" id="title" name="title" formControlName="title" placeholder="Position Title *" required>
                                 </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                      <input type="number" id="phoneNumber" name="phoneNumber" placeholder="Phone Number *" formControlName="phoneNumber" required>
                                 </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                     <input type="text" id="country" name="country"  placeholder="Country" formControlName="country" required> 
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <input type="text" id="technology" name="technology"  placeholder="Expertise Technologies *" formControlName="technology" required> 
                               </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                     <input type="text" id="description" name="description"  placeholder="A short intro about you" formControlName="description" required> 
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <input   id="githubUrl" name="githubUrl" type="url" title="Github URL" placeholder="Github URL" formControlName="githubUrl" required>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <input  id="gitLabUrl" name="gitLabUrl" type="url" placeholder="Gitlab URL" title="Gitlab URL" formControlName="gitLabUrl"  required>
                                    </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <input  id="linkedInUrl" name="linkedInUrl" type="url" placeholder="LinkedIn URL" title="LinkedIn URL" formControlName="linkedInUrl"  required>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <input   id="stackoverflowId" name="stackoverflowId" type="url" placeholder="Stackoverflow URL" title="LinkedIn URL" formControlName="stackoverflowId"  required>
                                </div>
                            </div>                          
                            
                            <div class="row justify-content-center my-">
                                <div class="form-group col-sm-6">
                            <button type="submit" class="btn btn-primary"  [disabled]="!creatorForm.valid" 
                                     (click)="profileCreation()">Create Profile</button> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6  text-center">
                <div class="preview-heading">

                    <div class="heading card">
                        <h3 class="justify-content-left">Preview before Create</h3>
                        <p class="blue-text">Contents will be updated as you type</p>
                        <p class="text-muted"> All fields are mandatory.</p>
                    </div>


                  
                </div>
               
                <div class="" >
                     <app-portfoliocards [items]="[creatorForm.value]" [showButton]="false">
                    </app-portfoliocards>
                </div>
              
            </div>
        </div>
        
    </div>
</div>