<div class="main-content">
  <div class="container container-fluid homepage-content" style="display:flex">

    <div class="container-creators">
      <div class="homepage-whycreators">
        <h2> Whats in for Creators ?</h2>
        <span class="text-muted"> It's always free</span>

         <p>
          A site dedicated to the creators to showcase their potential projects and to 
          get their next call from recruiter or even a VC :)
         </p>

         <p>
           Portfolio : A collection of resources where the creators showcase to get recognizedCreating an online portfolio can help you establish a professional online presence and showcase your work in a polished way¹³. It can also become a source of inspiration for other creative-minded people². Here are some benefits of creating an online portfolio:

           1. Professional way to showcase your work: Building a website about your brand and experience is a polished way to share your expertise with others¹.
           2. Great first impression for employers: An online portfolio provides a visual and verbal example of the level of dedication you put into your craft².
           3. Increases your visibility and online presence: When an employer Googles your name, your professional portfolio will be one of the first search results that pops up³.
           4. Shows you’re more than just a resume: Because of the flexibility of an online portfolio, you’re able to show your personality by choosing design, layout and the copy you use³.
           5. Flexibility: Unlike other platforms, a website allows you to create a specific image and establish your brand².
           
           I hope this helps!
           
           Source: Conversation with Bing, 14/5/2023
           (1) 5 Benefits Of Creating An Online Portfolio - Work It Daily. https://www.workitdaily.com/creating-online-portfolio.
           (2) 5 Benefits Of Creating An Online Portfolio - University of Adelaide. https://careerhub.adelaide.edu.au/students/news/detail/361/5-benefits-of-creating-online-.
           (3) Create an Online Portfolio: Benefits and Building Tips - UCraft. https://www.ucraft.com/blog/the-benefits-of-an-online-portfolio.
         </p>
      </div>
          

           <button class="btn btn-primary btn-block btn-lg"> Add your portfolios</button>
    </div>
 
    <div class="container-clients">
     
      <h2> Whats in for Clients ?</h2>
      <span class="text-muted"> It's always free, but pay your creators</span>

      <div class="homepage-whyclients">

        Its Allways free.
        Everyone needs a creator for one or the other work.
        Its hard to find particular client on their skill level.
      </div>

        <button class="btn btn-primary btn-block btn-lg"> Search for Projects/Creators</button>
    </div>

  </div>
</div>
