.homepage-container {
 display: flex;

}


.content-background {
    background-image: url("../assets/patrick-fore-0gkw_9fy0eQ-unsplash.jpg");
     /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  //top: 0;
  left: 0;

}