<div class="container-fluid text-white card-white">
    <div class="bg-sdark">
        <div class="row ">
            <div class="col-md-9 my-3 mx-4">
                <h3> {{profileDetails.name}}</h3>
                <h5>  {{profileDetails.title}}</h5>
                <h5>  {{profileDetails.subtitle}}</h5>
            </div>
            <div class="col-md-2 my-3 mx-4">
               <button class="btn btn-primary" (click)="backButtonClick()">Back</button>
            </div>
        </div>


        <div class="row card-white">     
            <div class="col-md-3  text-blue" *ngIf="githubData">
                <h4> Github: </h4>              
                <app-github-card [githubData]="githubData"></app-github-card>
            </div>
            
            <div class="col-md-3  text-blue" *ngIf="stacoverflowData">
                <h4> Stackoverflow: </h4>
                <app-stackoverflow-card [stacoverflowData]="stacoverflowData"></app-stackoverflow-card>
            </div>            

            <div class="col-md-6  text-blue">
                <h4> About Me:</h4>
                {{profileDetails.description}}

                <div class="icons white-text px-2 my-2">
                    <a [attr.href]="profileDetails.githubUrl"  *ngIf="profileDetails.githubUrl" target="_blank"> <i class="bi bi-github"> </i></a>
                   <a [attr.href]="profileDetails.stackoverflowId" *ngIf="profileDetails.stackoverflowId" target="_blank"> <i class="bi bi-stack-overflow"> </i></a>
                   <a [attr.href]="profileDetails.linkedInUrl" *ngIf="profileDetails.linkedInUrl" target="_blank"> <i class="bi bi-linkedin"> </i></a>
                   <a [attr.href]="profileDetails.gitLabUrl" *ngIf="profileDetails.gitLabUrl" target="_blank"> <i class="bi bi-browser-chrome"> </i></a>
       
                  </div>
            </div>
        </div>
    </div>
</div>