<div class="container container-fluid" *ngIf="!loadingScreen">
    
        <div class="row ">
            <div class="col-md-9">
                <h3> {{profileDetails.name}}</h3>
                <h5>  {{profileDetails.title}} /   {{profileDetails.subtitle}}</h5>
        
            </div>
        </div>

<hr>

        <div class="row ">     
           <div class="col-md-4  text-blue" *ngIf="githubData">
                <h4> Github: </h4>              
                <app-github-card [githubData]="githubData"></app-github-card>
            </div>

       
                <div class="col-md-4 text-blue" *ngIf="stacoverflowData">
                    <h4> Stackoverflow: </h4>
                    <app-stackoverflow-card [stacoverflowData]="stacoverflowData"></app-stackoverflow-card>
                </div>    
       
            <div class="col-md-4  text-blue">
                <h4> About Me:</h4>
                {{profileDetails.description}}
                   
            </div>
        </div>  
        <hr>

        <div class="btn-section">
            <button class="btn btn-primary" *ngIf="profileDetails.githubUrl" (click)="viewMore(profileDetails.githubUrl)">
                <i class="bi bi-github"> Visit my Github Profile </i>
             
            </button>
    
            <button class="btn btn-primary" *ngIf="profileDetails.stackoverflowId" (click)="viewMore(profileDetails.stackoverflowId)">
                <i class="bi bi-stack-overflow"> Visit my Stackoverflow Profile </i>
            </button>
    
            <button class="btn btn-primary" *ngIf="profileDetails.linkedInUrl" (click)="viewMore(profileDetails.linkedInUrl)">
                <i class="bi bi-linkedin"> Visit my LinkedIn Profile </i>
            </button>
    
            <button class="btn btn-primary"  (click)="backButtonClick()">
                <i class="bi bi-back"> Back to Application </i>
            </button>
        </div>
      

         

        <hr>

        <div class="credit-section">
          &copy;  Application made with <a href="https://senbagaraman04.github.io/online-portfolio" target="_blank">
                Online Porfolio
            </a>
        </div>
</div>


 
  <div class="container container-fluid d-flex justify-content-center" *ngIf="loadingScreen">
    <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
  </div>