<div class="row mt-5 container-fluid">
    <div class="col-md-5 mx-auto">
        <div class="input-group">
            <input class="form-control border rounded-pill" type="search" value="" id="search-input"  placeholder="Search for Creators">
        </div>
    </div>
</div>

<div class="row container-fluid my-4">
    <div class="cards row">
        <div class="card mx-2 my-2" *ngFor="let i of items">
            <div class="cover-photo">
                <img src="https://i.imgur.com/KykRUCV.jpeg" class="profile" alt="cover-photo">
            </div>
            <h3 class="profile-name">{{i.name}}</h3>
            <p class="about"> {{i.title}} <br> 
                             {{i.subtitle}}</p>
            <button class="btn">View More</button>

            <button class="btn btn-primary btn-block btn-lg">sView More</button>

            <div class="icons">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>

    </div>
</div>