<div class="row mt-5">
    <div class="col-md-5 mx-auto">
        <!-- <div class="small fw-light">Search Creators Porfolios</div> -->
        <div class="input-group">
            <input class="form-control border rounded-pill" type="search" value="" id="search-input"  placeholder="Search for Creators">
        </div>
    </div>
</div>

<div class="row container-fluid">
    <div class="cards">
        <div class="card">
            <div class="cover-photo">
                <img src="https://i.imgur.com/KykRUCV.jpeg" class="profile">
            </div>
            <h3 class="profile-name">James Carson</h3>
            <p class="about">UI/UX Designer <br> 
                             Front End Developer</p>
            <button class="btn">Message</button>
            <button class="btn">Following</button>
            <div class="icons">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>
</div>