<div class="container-fluid">
    <div class="row mt-5 my-4 container-fluid">
        <div class="col-md-5 mx-auto">
            <div class="input-group" style="height:50px">
                <input class="form-control border rounded-pill" type="search" value="" id="search-input"  placeholder=" Search for Creators">
            </div>
        </div>
    </div>
    <hr>

    <div class="row container-fluid my-4">
        <div class="col-md-3">

        </div>


        <div class="col-md-9 cards-section">       
            <app-portfoliocards [items]="items"></app-portfoliocards>
        </div>
       
    </div>
</div>

