/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blue-text {
    color: #00BCD4
}

.icons {
    width: 180px;
    margin: 0 auto 10px;    
    gap: 15px;
    display: flex;
    justify-content: flex-start;
}

.icons i {
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    transition: 0.2s;
}

.icons i:hover {
    color: #7ce3ff;
}
